[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
awscliv2 = {path = ".",editable = true}

[dev-packages]
rope = "*"
flake8 = "*"
isort = "*"
black = "==19.10b0"
toml = "*"
